<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; Inter-Sciences {{ 'now'|date('Y') }} &middot;
            <!-- Built with <span class="text-danger">&hearts;</span> by <a href="#">Christian M. Phni</a>. -->
        </small>
    </p>
</footer>