{% extends 'base.html.twig' %}

{% block title 'Inter-Sciences : Création d\'articles'%}

{% block body %}

<div class="example-wrapper">
    <h1>Créez un article</h1>

    {{ include('blog/_form.html.twig') }}
    
</div>
{% endblock %}
