{% extends 'layouts/base.html.twig' %}

{% block title 'Inter-Sciences : Création d\'articles'%}

{% block body %}

<div class="example-wrapper">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <h1>Créez un article</h1>

            {{ include('blog/_form.html.twig') }}
        </div>
    </div>
            
</div>
{% endblock %}
