{% extends 'layouts/base.html.twig' %}

{% block title 'Inter-Sciences : Modification d\'articles'%}

{% block body %}

<div class="example-wrapper">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <h1>Modifier un article</h1>

            {{ include('blog/_form.html.twig', {'submitButtonText': 'Modifier l\'article'}) }}
        </div>
    </div>
</div>
{% endblock %}
